<h1>{{currentDate | date: 'shortDate'}}</h1>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>

    </tr>
  </thead>
  <tbody>    
    <!--Directiva For, If, Else If, else-->
       @for(cliente of clientes; track $index){
            <tr class="table-primary">
                <td>{{cliente.nombre | uppercase}}</td>
            </tr>
    }
  </tbody>
</table>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>

    </tr>
  </thead>
  <tbody>    
    <!--Directiva For, If, Else If, else-->
       @for(curso of cursos; track $index){
            <tr class="table-primary">
                <td>{{curso.nombre}}</td>
                <td>{{curso.precio | currency}}</td>
            </tr>
    }
  </tbody>
</table>