<div class="card">
    <div class="card-header">
     Formulario Suma        
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="txtnumero1" class="form-label">Ingrese numero</label>
            <input type="number" class="form-control"
            [(ngModel)] = "suma.numero1"
            id="txtnumero1" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="txtnumero2" class="form-label">Ingrese numero</label>
            <input type="number" class="form-control" 
            [(ngModel)] = "suma.numero2"
            id="txtnumero2" placeholder="name@example.com">
        </div>
        <hr>
        <button type="button" class="btn btn-primary mt-3" (click)="calcularSuma()">CALCULAR</button>
        @if (mostrarResultado){            
            <div class="alert alert-primary mt-2" role="alert">
                {{suma.resultado}}
            </div>
        }
    </div>
</div>
