<div class="alert alert-primary" role="alert">
 {{titulo}}
 <p>{{contador}}</p>
</div>
<hr>
<img [src]="producto.image" alt="">
<div class="my-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="text" class="form-control"
   id="exampleFormControlInput1" placeholder="name@example.com" [value]="producto.nombre">
</div>
<div class="my-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<button class="btn btn-primary" (click)="metodoInicio()">Reiniciar Contador</button>
    